-# coding: utf-8
#help
  %p
    The LIAS Resolver is a small web application that provides a RESTfull API to retrieve digital documents or information about them.
    A common usage for the API is to provide a persistent and unified URL for object access. Please click on a method name in the list
    on the left for more information.