html {
}

body {
    min-height: 100%;
    height: 100%;
    padding: 0 20px 20px;
    margin: 10px;
    color: #ffffff;
    font-size: small;
    text-align: left;
    background: #fff;
}

BODY, DIV, TEXTAREA {
    font-family: Tahoma, Arial, sans-serif;
}

TABLE {
    border-collapse: collapse;
    border-style: solid;
}

THEAD {
    font-style: oblique;
    font-weight: bold;
    border-bottom-style: double;
}

TR {
    border-bottom: 1px solid;
}

TD, FORM {
    padding: 4px 8px;
    font-size: smaller;
}

CODE, TD.parameter {
    font-weight: bold;
    font-style: italic;
}

H1 {
    font-size: xx-large;
    padding: 10px;
    background: #808080;
    color: #fffacd;
    text-align: center;
    margin-bottom: 0;
}

H2 {
    font-size: x-large;
    padding: 4px;
    background: #b0c4de;
    color: #ffffff;
}

H3 {
    font-size: larger;
    font-style: oblique;
    border-bottom-style: dotted;
}

DIV.title {
    margin: 0;
}

DIV.index {
    display: block;
    margin-top: 1em;
    background: #b0c4de;
    color: #fffacd;
    float: left;
    width: 13em;
    height: 600px;
}

#home {
    font-size: x-large;
    padding-bottom: 20px;
}

.index ul {
    padding: 0;
}

.index ul li {
    list-style: none inside none;
    padding: 0;
    margin: 0;
}

.index ul li a {
    padding: 5px 20px;
    display: block;
    text-decoration:none;
    color: #fffacd;
}

.index ul li:hover {
    background-color: #fffacd;
}

.index ul li:hover > a {
    color: #b0c4de;
}

DIV.detail {
    display: block;
    background: #fffacd;
    color: #00008b;
    margin-top: 1em;
    margin-left: 14em;
    height: 600px;
}

DIV.subtitle {
    display: block;
    font-size: x-large;
    padding-top: 20px;
    padding-left: 20px;
    background: #b0c4de;
    color: #ffffff;
    text-align: left;
    vertical-align: bottom;
    height: 50px;
}

DIV.helptext {
    display: box;
    margin: 20px;
    overflow: auto;
    overflow-style: auto;
    height: 500px;
}

DIV.comment {
    font-style: oblique;
}

DIV#help {
    padding: 50px;
    font-size: larger;
}